.line_chart .wrap_line {fill:none}
.line_chart .wrap_line .path1 {stroke:#9eaeff}
.line_chart .wrap_line .path2 {stroke:#92c7ed}
.line_chart .wrap_line .path3 {stroke:#ccc}
.line_chart .wrap_dot_1 .dot {stroke-width:2px;stroke:#9eaeff;fill:#fff}
.line_chart .wrap_dot_2 .dot {stroke-width:2px;fill:#92c7ed}
.line_chart .wrap_dot_3 .dot {stroke-width:2px;fill:#ccc}
.line_chart .xAxis .tick .tick_txt {fill:#000}
.line_chart .yAxis .tick .tick_txt {fill:#000}
.line_chart .domain {display:none}
.line_chart .hidden_bar {cursor:pointer}
.tooltip {position:absolute;top:0;left:0;}
.x_line {stroke:#000;stroke-dasharray:3}
